<div class="registrar-chave_container">
    <i class="ph-bold ph-x" (click)="fecharModal()"></i>
    <h1>Registrar chave PIX</h1>
    <div class="registrar-chave_content">
        <select #lista class="admin-gestao_select" [(ngModel)]="tipoChave" (ngModelChange)="pegarVariavelBusca()">
            <option value="cpf">CPF</option>
            <option value="telefone">Telefone</option>
            <option value="email">E-mail</option>
            <option value="codigo_aleatorio">Chave aleatória</option>
        </select>
        <div class="confirmacoes">
            <p *ngIf="tipoChave" class="informativo">Outros usuarios poderão te fazer transferencias PIX por
                {{tipoChave != 'codigo_aleatorio' ? tipoChave.toUpperCase() : 'Chave Aleatória'.toUpperCase()}}</p>
            <p *ngIf="tipoChave && tipoChave!='codigo_aleatorio'" class="exibir-chave"><strong>{{tipoChave}}:</strong>
                {{valorChave}}
            </p>
            <div>
                <button class="botao-confirmar" (click)="registrarChave()">Confirmar</button>
            </div>
        </div>
    </div>
</div>