<div class="login-admin_container">    
    <!-- Esquerda -->
    <div class="login-admin_lado_direito">
        <h1 class="login-admin_titulo">Entrar</h1>
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-admin_formulario">
            <div class="login-admin_grupo_inputs">
                <div class="login-admin_input_grupo">
                    <p>Usuário<p>
                    <input
                        id="usuario"
                        type="text"
                        formControlName="usuario"
                        class="login-admin_input"
                        [class.is-invalid]="loginForm.get('usuario')?.invalid && loginForm.get('usuario')?.touched"
                    />
                </div>
                
                
            </div>
  
            <div class="login-admin_input_grupo">
                <p>Senha<p>
                <input
                    id="senha"
                    type="password"
                    formControlName="senha"
                    class="login-admin_input"
                    [class.is-invalid]="loginForm.get('senha')?.invalid && loginForm.get('senha')?.touched"
                />
            </div>
  
            <!-- Botão preenchido com texto "Acessar" -->
            <div class="login-admin_botoes">
                <button type="submit" class="login-admin_botao_primario" [disabled]="loginForm.invalid">
                    Acessar
                </button>
  
                <!-- Botão secundário com texto "Criar conta" -->
            </div>
        </form>
    </div>
    <!-- direita -->
    <div class="login-admin_lado_esquerdo">
        <img src="assets/logo 512x120.png" alt="Logo do NULL BANK" class="login-admin_logo" />
        <p class="login-admin_slogan">Onde o impossível encontra valor.</p>
        <button class="login-admin_botao-cliente" routerLink="/login">Entrar como Cliente...</button>
    </div>
  </div>