.login-home_card-saldo{
  width: 350px;
  height: 200px;
  border-radius: 10px;
}

.login-home_card-saldo{
  padding: 30px;
  background-color: var(--fintech_black);
  color: aliceblue;
}

.login-home_card-saldo h2{
  font-size: 15px;
  color: white;
}

.login-home_card-saldo p{
  font-size: 30px;
  font-weight: 700;
}