<div class="navbar_container">
    <div class="navbar_itens_primarios">
        <img class="navbar_imagem" src="assets/logo 512x120.png" alt="Logo do NULL BANK"/>
        <ul>
            <li routerLink="/cliente">Home</li>
            <li routerLink="/cliente/extrato">Extrato</li>
            <li>
                <ul>
                    <p>Transações</p>
                    <li routerLink="/cliente/deposito">Deposito</li>
                    <li routerLink="/cliente/saque">Saque</li>
                    <li routerLink="/cliente/transferencia">Transferencia</li>
                    <li routerLink="/cliente/pix">Pix</li>
                    <li routerLink="/cliente/boleto">Pagamento de boleto</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="navbar_itens_finais">
        <ul>
            <li>Configurações</li>
            <li routerLink="/login">Sair</li>
        </ul>
    </div>

</div>
