<i class="ph-bold ph-x" (click)="fecharModal()"></i>
<div class="pix_container">
    <header class="pix_header">
        <h1>Transferência Pix</h1>
    </header>

    <body>
        <div class="input">
            <label for="valor-saque">Chave: </label>
            <input id="valor-saque" type="text" placeholder="Digite a chave pix" [(ngModel)]="pagarPix.chave" />
        </div>

        <div class="input">
            <label for="valor-saque">Valor: </label>
            <input id="valor-saque" type="number" placeholder="Digite o valor" [(ngModel)]="pagarPix.valor" />
        </div>

        <div class="input">
            <label for="valor-saque">Descrição: </label>
            <input id="valor-saque" type="text" placeholder="Digite a descrição" [(ngModel)]="pagarPix.descricao" />
        </div>

        <button class="botao_pagar" (click)="transferirPix(pagarPix)">
            Realizar Transferência
        </button>
    </body>
</div>