<div class="transferir_container">
    <div class="botao_fechar">
        <i class="ph ph-x-circle" (click)="fecharModal()"></i>
    </div>
    <h2>Informe os dados de destino</h2>
    <div class="input_valor">
        <label for="valor-saque">Agencia: </label>
        <input
            id="valor-saque"
            type="text"
            placeholder="Digite a agencia"
            [(ngModel)]="transferencia.agencia"/>
    </div>
    <div class="input_valor">
        <label for="valor-saque">Conta: </label>
        <input
            id="valor-saque"
            type="text"
            placeholder="Digite a conta"
            [(ngModel)]="transferencia.conta"/>
    </div>
    <div class="input_valor">
        <label for="valor-saque">Descrição: </label>
        <input
            id="valor-saque"
            type="text"
            placeholder="Digite a descrição"
            [(ngModel)]="transferencia.descricao"/>
    </div>
    <div class="input_valor">
        <label for="valor-saque">Valor: </label>
        <input
            id="valor-saque"
            type="number"
            placeholder="Digite o valor"
            [(ngModel)]="transferencia.valor"/>
    </div>
    <div class="transferir_botao">
        <button class="desativar_botao botao-desativar" (click)="transferir(transferencia)">Transferir</button>
    </div>
</div>