<div class="pix_container">
    <header class="pix_header">
        <h1>Area Pix</h1>
        <p>Envie e receba Pix a qualquer momento, sem taxas, com Nullbank.</p>
    </header>
    <div class="pix_content">
        <h2>Ações</h2>
        <div class="pix_botoes">
            <div routerLink="/admin/gestaoContas" class="pix_botao">
                <i class="ph-bold ph-barcode acoes"></i>
                <p>Pix Copia e Cola</p>
            </div>
            <div routerLink="/admin/criarConta" class="pix_botao">
                <i class="ph-bold ph-arrows-left-right acoes"></i>
                <p>Transferir</p>
            </div>
        </div>
        <h2>Preferencias</h2>
        <div routerLink="/cliente/chavesPix" class="pix_registrar-chaves">
            <i class="ph-bold ph-plus mais"></i>
            <p>Registrar chaves pix</p>
        </div>
    </div>
</div>