.navbar_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 100vh;
    margin: 0 20px;
    width: 200px;
    font-size: 13px;
}

.navbar_itens_primarios{
    display: flex;
    flex-direction: column;
}

.navbar_imagem{
    margin: 20px 40px 0 0;
    width: 130px;
    align-self: center;
}

.navbar_itens{
    margin: 40px 0 40px 0;
}

.navbar_item{
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
}

.navbar_item_hover:hover{
    background-color:#e5fdf5;
    border-left: 2px solid var(--primary-color);
}

.navbar_itens_finais{
    margin: 20px 0;
}

li{
    margin: 0 0 0 10px;
    width: 100%;
    
}
