<div class="navbar_container">
    <div class="navbar_itens_primarios">
        <img class="navbar_imagem" src="assets/logo 512x120.png" alt="Logo do NULL BANK"/>
        <ul class="navbar_itens">
            <div class="navbar_item navbar_item_hover" routerLink="/admin">
                <i class="ph ph-house"></i>
                <li>Home</li>
            </div>
            <div class="navbar_item navbar_item_hover" routerLink="/admin/gestaoContas">
                <i class="ph ph-scroll"></i>
                <li >Gerenciar Contas</li>
            </div> 
            <div class="navbar_item navbar_item_hover" routerLink="/admin/criarConta">
                <i class="ph ph-scroll"></i>
                <li >Criar Conta</li>
            </div> 
        </ul>
    </div>
    <div class="navbar_itens_finais">
        <ul>
            <div class="navbar_item navbar_item_hover">
                <i class="ph ph-gear"></i>
                <li>Configurações</li>
            </div>
            <div class="navbar_item navbar_item_hover" routerLink="/login">
                <i class="ph ph-sign-out"></i>
                <li >Sair</li>
            </div>
        </ul>
    </div>

</div>
