<div class="deposito_container">
    <header class="deposito_header">
        <h1>Depósito</h1>
    </header>
    <!--Saldo-->
    <section class="saldo_contend">
        <!--preciso colocar o componente que contem o saldo.-->
    <!--app-saldo></app-saldo--> Comentei pois está dando erro (Mari) - 
    </section>
    <!--Corpo do deposito-->
    <div class="deposito_body"> 
        <p>Valor do Depósito</p>
    <!--botoes do valor pré-definido-->
    </div>
        <div class="deposito_botoes">
         <div  class="botao_5reais">
            <button (click)="adicionarValor(5)">R$ 5,00 </button>
            </div>
        <div  class="botao_10reais">
            <button (click)="adicionarValor(10)">R$ 10,00 </button>

            </div>
        <div  class="botao_50reais">
            <button (click)="adicionarValor(50)">R$ 50,00 </button>
            </div>
            <div  class="botao_100reais">
                <button (click)="adicionarValor(100)">R$ 100,00 </button>
            </div>
        </div>
    <!-- Campo do valor personalizado-->  
        
    <div class="input_valor">
        <label for="valor-deposito">Outro Valor:</label>
        <input 
            id="valor-deposito" 
            type="number" 
            placeholder="Digite o valor" 
            [(ngModel)]="valorInput" 
        />
    </div>
         <!--ver a aula sobre isso-->
        
    <!--Botao de confirmacao do deposito-->
    <!--volta para tela de transação e colocar que foi efetuada a transação, mas ela ainda nao existe <-->
    <div class="botao_depositar">
        <button (click)="confirmarDeposito()">Depositar</button>
    </div>
</div>