
.login_botoes{
  display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
margin-top: 40px;
}

.btn_login{
  background-color: var(--primary-color);
  color: var(--fintech_black);

  margin-top: auto;
  
  width: 250px;
  height: 60px;
  border-radius: 8px;

  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  transition: background-color 0.3s;

}
.btn_login:hover{
  background-color: #0c6146;
}