
    <h1 style="color: #151515; font-size: 40px; font-family: Inter; font-weight: 700; word-wrap: break-word">Entrar</h1>
    
    <!-- Botão preenchido com texto "Acessar" -->
    <app-button-filled>
        <div class="w-[120px] h-6 text-[#151515] text-xl font-bold font-['Inter']">Acessar</div>
    </app-button-filled>

    <!-- Botão secundario  com texto "Criar conta" -->

    <app-secundary-button>
        <div class="w-[120px] h-6 text-[#151515] text-xl font-bold font-['Inter']">Criar Conta</div>
    </app-secundary-button>
  
