.cadastro_container_imagens {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.teste{
    display: flex;
    justify-content: space-between;
}

.cadastro_imagem1, .cadastro_imagem2 {
    height: 48vh;
    width: auto;
    padding: 0;
    box-sizing: border-box;
}

.cadastro_botao_continuar{
 margin-bottom: 20px;
}

.cadastro_container_usuario{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-self: center;
}

.cadastro_criar_titulo{
    display: flex;
    font-weight: bold;
    font-size: 35px;
}

.cadastro_icone_voltar{
    display: flex;
    justify-content: end;
    margin: 20px 40px 0 40px;
    font-size: 30px;
}

.cadastro_conjunto_input{
    display: flex;
    flex-direction: column;
}

.cadastro_input{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    margin: 5px 0;
}

.cadastro_input p{
    color: var(--fintech_black);

    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
}

.cadastro_input input{
    border-radius: 8px;
    border: 1px solid var(--fintech_gray);
    background: var(--fintech_white, #FFF);
    color: var(--fintech_gray);
    padding: 10px 0;
    padding-left: 10px;
    outline: none;
    width: 350px;
    height: 20px;
    flex-shrink: 0;
    font-size: 12px;
}

.cadastro_cabecalho_input{
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.cadastro_inputs_flex{
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.cadastro_input.menor input{
    width: 170px;
}