<div class="w-full flex">
    <div class="cadastro_container_imagens">
        <img ngSrc="./assets/frame1.png" width="10" height="10" alt="imagem 1" class="cadastro_imagem1">
        <img ngSrc="./assets/frame3.png" width="10" height="10" alt="imagem 2" class="cadastro_imagem2">
    </div>
    <main class="teste flex-1 text-center flex-col">
        <div class="cadastro_icone_voltar">
            <i *ngIf="exibirSecao == 1; else seta" class="ph ph-x-circle" (click)="navegarParaLogin()"></i>
            <ng-template #seta>
                <i class="ph ph-arrow-circle-left" (click)="voltar()"></i>
            </ng-template>
        </div>

        <div class="cadastro_container_usuario" *ngIf="exibirSecao == 1">
            <div class="cadastro_conjunto_input">
                <div><h1 class="cadastro_criar_titulo">Criar conta</h1></div>
               
                <div class="cadastro_input">
                    <p>Nome completo*</p>
                    <input type="text" [(ngModel)]="usuario.nome">
                </div>
            
                <div class="cadastro_input">
                    <p>CPF*</p>
                    <input type="text" [(ngModel)]="usuario.cpf">
                </div>

                <div class="cadastro_input">
                    <p>Data de Nascimento*</p>
                    <input type="text" placeholder="yyyy-mm-dd"[(ngModel)]="usuario.dataNascimento">
                </div>

                <div class="cadastro_input">
                    <p>Telefone*</p>
                    <input type="text" [(ngModel)]="usuario.telefone">
                </div>

                <div class="cadastro_input">
                    <p>E-mail*</p>
                    <input type="text" [(ngModel)]="usuario.email">
                </div>

                <div class="cadastro_input">
                    <p>Usuario*</p>
                    <input type="text" [(ngModel)]="usuario.nomeUsuario"><br>
                </div>
                <app-primary-button class="cadastro_botao_continuar" (click)="avancar()">Continuar</app-primary-button>
            </div>
        </div>
           
        <div class="cadastro_container_usuario" *ngIf="exibirSecao == 2">
            <div class="cadastro_conjunto_input">
                <div class="cadastro_input">
                    <p>CEP*</p>
                    <input type="text" [(ngModel)]="usuario.cep">
                </div>
    
                <div class="cadastro_inputs_flex">
                    <div class="cadastro_input menor">
                        <p>Cidade*</p>
                        <input type="text" [(ngModel)]="usuario.cidade">
                    </div>
                    <div class="cadastro_input menor">
                        <p>Estado*</p>
                        <input type="text" [(ngModel)]="usuario.estado">
                    </div>
                </div>
                
                <div class="cadastro_input">
                    <p>Bairro*</p>
                    <input type="text" [(ngModel)]="usuario.bairro">
                </div>
                <div class="cadastro_inputs_flex">
                    
                    <div class="cadastro_input menor">
                        <p>Logradouro*</p>
                        <input type="text" [(ngModel)]="usuario.logradouro">
                    </div>
                    
                    <div class="cadastro_input menor">
                        <p>Número*</p>
                        <input type="text" [(ngModel)]="usuario.numero">
                    </div>
                </div>
                <div class="cadastro_input">
                    <p>Complemento</p>
                    <input type="text" [(ngModel)]="usuario.complemento"><br>
                </div>
                <app-primary-button class="cadastro_botao_continuar" (click)="avancar()">Continuar</app-primary-button>
            </div>
            
        </div>
        
        <div class="cadastro_container_usuario" *ngIf="exibirSecao == 3">
            <div class="cadastro_conjunto_input">
                <div class="cadastro_input">
                    <p>Senha*</p>
                    <input type="text" [(ngModel)]="usuario.senha">
                </div>

                <div class="cadastro_input">
                    <p>Confirmar senha*</p>
                    <input type="text"><br>
                </div>
                <app-primary-button (click)="incluir(usuario)">Cadastrar</app-primary-button>
            </div>
        </div>
    </main>
</div>