.cadastro_container_imagens {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 15px;
    padding-top: 12px;
    max-width: 100%; 
}

.teste{
    display: flex;
    justify-content: space-around;
    flex: 1.5;
}

.cadastro_imagem1, .cadastro_imagem2 {
    width: 370px;
    height: auto;
    padding: 0;
    box-sizing: border-box;
}

.cadastro_container_usuario{
    font-family: Inter, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cadastro_criar_titulo{
    display: flex;
    font-weight: bold;
    font-size: 30px;
}

.cadastro_icone_voltar{
    display: flex;
    justify-content: end;
    margin: 15px 40px 0 40px;
    font-size: 30px;
}

.cadastro_conjunto_input{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cadastro_input{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    width: 100%;
    margin: 8px 0;
}

.cadastro_input p{
    color: var(--fintech_black);
    font-size: 12px;
    font-weight: 700;
    line-height: 150%;
}

.cadastro_input input{
    border-radius: 8px;
    border: 1px solid var(--fintech_gray);
    background: var(--fintech_white, #FFF);
    color: var(--fintech_gray);
    padding: 5px 0;
    padding-left: 20px;
    outline: none;
    width: 350px;
    height: 38px;
    flex-shrink: 0;
}

.cadastro_cabecalho_input{
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.cadastro_inputs_flex{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.cadastro_input.menor input{
    width: 170px;
    margin: 0 3.5px;
}

.cadastro_botao_continuar {
    background-color: var(--primary-color);
    color: var(--fintech_black);

    margin-top: 15px;

    width: 200px;
    height: 40px;
    border-radius: 8px;

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    transition: background-color 0.3s;
}

.cadastro_botao_continuar:hover {
    background-color: #18eca9;
}