<div class="admin-editar-conta_container">
    <h1>Editar Conta</h1>
    <div class="admin-editar-conta_forms">
        <div class="admin-editar-conta_dados-pessoais">
            <h2>Dados Pessoais</h2>
            <div class="admin-editar-conta_input">
                <p>Nome completo*</p>
                <input type="text" [(ngModel)]="usuarioResponse.nome">
            </div>
            <div class="admin-editar-conta_input">
                <p>CPF*</p>
                <input type="text" [(ngModel)]="usuarioResponse.cpf" readonly>
            </div>
            <div class="admin-editar-conta_input">
                <p>Data de Nascimento*</p>
                <input type="text" placeholder="yyyy-mm-dd" [(ngModel)]="usuarioResponse.dataNascimento"
                    [ngModel]="usuarioResponse.dataNascimento | date: 'yyyy-MM-dd'" readonly>
            </div>

            <div class="admin-editar-conta_input">
                <p>Telefone*</p>
                <input type="text" [(ngModel)]="usuarioResponse.telefone">
            </div>

            <div class="admin-editar-conta_input">
                <p>E-mail*</p>
                <input type="text" [(ngModel)]="usuarioResponse.email">
            </div>

            <div class="admin-editar-conta_input">
                <p>Usuário*</p>
                <input type="text" [(ngModel)]="usuarioResponse.nomeUsuario"><br>
            </div>
        </div>
        <div class="admin-editar-conta_endereco">
            <h2>Endereço</h2>
            <div class="admin-editar-conta_input">
                <p>CEP*</p>
                <input type="text" [(ngModel)]="usuarioResponse.cep">
            </div>
            <div class="admin-editar-conta_inputs_flex">
                <div class="admin-editar-conta_input">
                    <p>Cidade*</p>
                    <input type="text" [(ngModel)]="usuarioResponse.cidade">
                </div>
                <div class="admin-editar-conta_input estado">
                    <p>Estado*</p>
                    <select [(ngModel)]="usuarioResponse.estado" name="estado">
                        <option value=''></option>
                        <option *ngFor="let e of estadosBrasileiros" [value]="e">{{e}}</option>
                    </select>
                </div>
            </div>
            <div class="admin-editar-conta_input">
                <p>Bairro*</p>
                <input type="text" [(ngModel)]="usuarioResponse.bairro">
            </div>
            <div class="admin-editar-conta_inputs_flex">
                <div class="admin-editar-conta_input">
                    <p>Logradouro*</p>
                    <input type="text" [(ngModel)]="usuarioResponse.logradouro">
                </div>
                <div class="admin-editar-conta_input numero">
                    <p>Número*</p>
                    <input type="text" [(ngModel)]="usuarioResponse.numero">
                </div>
            </div>
            <div class="admin-editar-conta_input">
                <p>Complemento</p>
                <input type="text" [(ngModel)]="usuarioResponse.complemento">
            </div>
        </div>
        <div class="admin-editar-conta_senha">
            <div class="admin-editar-conta_tipo-conta">
                <h2>Tipo de conta</h2>
                <div class="admin-editar-conta_checkboxes">
                    <div class="admin-editar-conta_checkbox">
                        <input type="radio" value="SIMPLES" [(ngModel)]="usuarioResponse.tipoConta">
                        <p>Simples</p>
                    </div>
                    <div class="admin-editar-conta_checkbox">
                        <input type="radio" value="ESPECIAL" [(ngModel)]="usuarioResponse.tipoConta">
                        <p>Especial</p>
                    </div>
                </div>
            </div>
            <div class="admin-editar-conta_botoes">
                <button routerLink="/admin" class="admin-editar-conta_botao-voltar">Cancelar</button>
                <button routerLink="/admin" class="admin-editar-conta_botao-editar"
                    (click)="editarConta(usuarioResponse)">Salvar</button>
            </div>
        </div>
    </div>
</div>