.navbar {
  background-color: #000b07;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.navbar .logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.navbar .menu {
  position: relative;
}

.navbar .menu button {
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid var(--fintech_green, #50F1BE);
  background: var(--fintech_black, #151515);
  font-family: 'Montserrat', sans-serif;
  margin-right: 10px;
}

.navbar .menu .dropdown {
  margin-left: 10px;
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navbar .menu .dropdown a {
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
}

.navbar .menu .dropdown a:hover {
  background-color: #50F1BE;
  color: rgb(10, 1, 1);
  border-radius: 4px;
  border: 2px solid var(--fintech_gray, #D9D9D9);
  background: rgba(80, 241, 190, 0.25);
}

.navbar .menu button:hover + .dropdown,
.navbar .menu button:focus + .dropdown,
.navbar .menu .dropdown:hover {
  display: block;
}

.header {
  text-align: center;
  padding: 100px 20px 20px;
  background-color: #50F1BE;
  color: #333;
  border-color: #333;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 40px

}

.header .inicial img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.header h1 {
  font-size: 36px;
  margin: 0;
  color: #151515;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
}

.header p {
  font-size: 18px;
  margin-top: 10px;
}

.body {
  font-family:'Montserrat', sans-serif;
  background-color: #000b07;
  color: #D9D9D9;
  margin: 110;
  padding: 50px;
  margin-top:20px;
  margin-bottom:40px;
  shape-image-threshold: initial;
}

.body img {
  margin-top:20px;
  margin-bottom:40px;
  width: auto;
  height: auto;
  border-radius: 8px;
}

.section {
  
  padding: 40px 20px;
  text-align: center;
  text-size-adjust:initial;
  border-radius: 50px;
  color-scheme: ;  
  background:#616060;
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: bold;
  
}


.benefits, .student-benefits, .accounts {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.benefit-item, .student-benefit-item, .account-item {
  flex: 0 0 calc(33.33% - 30px);
  margin: 15px;
  text-align: center;
  background-color:#50F1BE;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

