<div class="flex items-center justify-between bg-gray-800 p-4 fixed w-full top-0 z-10">
    <div class="text-white text-2xl font-bold">
        <a routerLink="/">NullBank</a>
    </div>
    <div class="relative group">
        <button class="text-white text-lg bg-gray-800 px-4 py-2">
            Login
        </button>
        <div class="absolute right-0 mt-2 bg-white rounded shadow-lg hidden group-hover:block group-focus:block">
            <a routerLink="/login-cliente" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Cliente</a>
            <a routerLink="/login-admin" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Administrador</a>
        </div>
    </div>
</div>
    <div class="mt-16 p-4 text-center">
        <img src="https://s3-alpha-sig.figma.com/img/ab5e/39cf/8aeb829d20ba128035b5df78d3f0f40b?Expires=1738540800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=agMPcTFloaGrT6pFAsxF31kX8mPmW39lZXMLv2nbrTNMIYWuNFaZnj60AwpIKFXBCZ5lSJSY5hP8u8HEvJOj3SAkFHCWnOhO8uiZ~GDLbFv68OaxY9FLqp6xutWR2gUZaqTSAAvFHmSlbl1v7a4kZ16jbEVtYzsBtGucggWMXkmdyuSmZz~cYkd2ISkNOCe9XARHgDerthgmmOUcKSElf~qjn6sQs~XisFLOkGmxztIN8m-Ua6gyvCL5EVjpTRpGEbgF~9mJ-EPuipJaTq-LW5NKMhGBfpsfK9WXgfQMqww8pXwUlNwtKkAnEt6V762g34ze1vnddbeFTZ4d7mttLA__" alt="Imagem representativa" class="mx-auto mb-4">
        <h1 class="text-4xl font-bold">Tenha segurança e praticidade ao seu alcance</h1>
        <p class="text-lg mt-2">Experimente a praticidade, segurança e eficiência: abra sua conta e transforme sua vida financeira</p>
    </div>