<div class="navbar">
    <div class="logo">
      <img src="assets/logo nullbank-verde.png" alt="LogoNullBank">
    </div>
    <div class="menu">
      <button routerLink="/cadastro" >Criar conta</button>
      <button>Login</button>
      <div class="dropdown">
        <a routerLink="/login">Cliente</a>
        <a routerLink="/login-admin">Administrador</a>
      </div>
    </div>
  </div>
  <div class="header">
    <h3>Preenchendo o vazio com valores reais</h3>
    <div class="inicial">
      <img src="assets/beautiful-modern-business-women-working-outside2.png" alt="Imagem de capa">
    </div>
    <h1>NullBank: Transformando o nada em tudo!</h1>
  </div>
    <div class="body">
        <div class="meio">
            <h4>Onde o impossível encontra valor</h4>
            <img src="assets/young-team-coworkers-working-project.jpg" alt="Imagem no meio" >
        </div>
    </div>
  <div class="section">
    <h2 class="beneficios">Benefícios do NullBank</h2>
    <div class="benefits">
      <div class="benefit-item">Depósitos de maneira fácil</div>
      <div class="benefit-item">Cartão de Crédito na hora</div>
      <div class="benefit-item">Pix sem taxas</div>
      <div class="benefit-item">Investimentos *em breve*</div>
    </div>
  </div>
  <div class="section">
    <h2>Benefícios para Estudantes</h2>
    <div class="student-benefits">
      <div class="student-benefit-item">Assessoria financeira para estudantes</div>
      <div class="student-benefit-item">Crédito facilitado para estagiários</div>
      <div class="student-benefit-item">Cashback e descontos para ajudar seus estudos</div>
    </div>
  </div>
  <div class="section">
    <h2>Tipos de Contas</h2>
    <div class="accounts">
      <div class="account-item">
        <i class="icon10"></i>
        <h3>Conta Simples</h3>
        <p>Pra você que gosta do básico bem feito</p>
      </div>
      <div class="account-item">
        <i class="icon11"></i>
        <h3>Conta Especial</h3>
        <p>Você sonha alto e a gente te acompanha</p>
      </div>
    </div>
  </div>
  