

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #D9D9D9;
}

.navbar {
  background-color: #000b07;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
  z-index: 10;
}

.navbar .logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.navbar .menu {
  position: relative;
}

.navbar .menu button {
  background-color: #50F1BE;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid var(--fintech_green, #50F1BE);
  background: var(--fintech_black, #151515);
  font-family: 'Montserrat', sans-serif;

}

.navbar .menu .dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.navbar .menu .dropdown a {
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
}

.navbar .menu .dropdown a:hover {
  background-color: #50F1BE;
  color: white;
  border-radius: 8px;
  border: 1px solid var(--fintech_gray, #D9D9D9);
  background: var(--fintech_black, #151515);
  background: rgba(80, 241, 190, 0.25);
}

img{
  width: 700px;
  
}

.logo_imagem{
  width: 250px;
}

.navbar .menu:hover .dropdown {
  display: block;
}

.header {
  text-align: center;
  color: white;
}

.header_texto{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0 0 30px;
  color: #151515;
}

.header_texto p{
  font-size: 35px;
  font-weight: 700;
}
.header_texto h3{
  font-size: 20px;
  font-weight: 300;
  margin-top: 100px;
}


.header{
  display: flex;
  justify-content: space-between;
}


.header_botao{
  align-self: baseline;
  margin: 0 0 30px 30px;
}

.cta form {
  display: flex;
  align-items: center;
}

.cta input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.cta button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: white;
  border: none;
  color: #50F1BE;
  cursor: pointer;
  border-radius: 4px;
}

.section {
  padding: 40px 20px;
  text-align: center;
}

.benefits, .student-benefits, .accounts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.benefit-item, .student-benefit-item, .account-item {
  flex: 1 1 30%;
  margin: 15px;
  text-align: center;
  background-color: #fef4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.benefit-item h3, .student-benefit-item h3, .account-item h3 {
  font-size: 22px;
  margin: 10px 0;
}

.benefit-item p, .student-benefit-item p, .account-item p {
  font-size: 18px;
  color: #555;
}
.popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #50F1BE;
  color: white;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  cursor: pointer;
  z-index: 10;
}

.popup-menu {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 20px;
  background-color: white;
  color: #333;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  border-radius: 8px;
  overflow: hidden;
}

.popup-menu a {
  display: block;
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
}

.popup-menu a:hover {
  background-color: #50F1BE;
  color: #151515;
}

.popup:hover + .popup-menu {
  display: block;
}