<div class="login-home_container">
    <div class="login-home_header">
        <h1>Home</h1>
    </div>
    <div class="login-home_content">
        <div class="login-home_main">
            <div class="login-home_cards">
                <div class="login-home_card-saldo">
                    <h2>Saldo</h2>
                    <p>R$ {{saldo.toFixed(2) }}</p>
                </div>
                <div class="login-home_card-cartao">
                    <p>Cartao do cliente</p>
                </div>
            </div>
            <h2>Transações</h2>
            <div class="login-home_botoes">
                <div class="login-home_botao">
                    <i class="ph-bold ph-arrow-line-down icone"></i>
                    <p>Depositar</p>                    
                </div>
                <div class="login-home_botao">
                    <i class="ph-bold ph-money-wavy icone"></i>
                    <p>Sacar</p>                    
                </div>
                <div class="login-home_botao">
                    <i class="ph-bold ph-arrows-left-right icone"></i>
                    <p>Transferir</p>                    
                </div>
                <div class="login-home_botao">
                    <i class="ph-bold ph-circles-four icone"></i>
                    <p>Área Pix</p>
                </div>
                <div class="login-home_botao">
                    <i class="ph-bold ph-barcode icone"></i>
                    <p>Pagar</p>
                </div>
            </div>
        </div>
        <div class="login-home_extrato">
            <button>Extrato Completo</button>
        </div>
    </div>
</div>