.login-home_container{
    margin: 40px 0 0 40px;
}

.login-home_header{
    margin-bottom: 30px;
}

.login-home_cards{
    margin-bottom: 30px;
}

.login-home_container h1{
    color: var(--fintech_black, #151515);
    /* Titulos-H3-40-Bold */
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%; /* 54px */
    margin-bottom: 10px;
}

.login-home_content{
    display: flex;
    justify-content: space-between;
}

.login-home_main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.login-home_cards{
    display: flex;
}

.login-home_botoes{
    display: flex;
}

.login-home_botao{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-home_card-saldo, .login-home_card-cartao{
    width: 300px;
    height: 150px;
    border-radius: 10px;
}

.login-home_card-cartao{
    background: linear-gradient(to right, black, rgb(1, 1, 156));
    margin: 0 30px;
}


.icone{
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 8px;
    font-size: 40px;
    font-weight: bolder;
}

.login-home_main h2{
    color: var(--fintech_black, #151515);
    /* Titulos-H3-40-Bold */
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%; /* 54px */
    margin-bottom: 10px;
}
.login-home_card-saldo{
    padding: 40px 30px;
    background-color: var(--primary-color);
}

.login-home_card-saldo h2{
    font-size: 15px;
}

.login-home_card-saldo p{
    font-size: 30px;
    font-weight: 700;
}