<div class="login-home_container">
    <div class="login-home_header">
        <h1>Home</h1>
    </div>
    <div class="login-home_content">
        <div class="login-home_main">
            <div class="login-home_cards">
                <div class="login-home_card-saldo">
                    <h2>Saldo</h2>
                    <p>R$200,00</p>
                </div>
                <div class="login-home_card-cartao">
                    <div class="login-home_cartao-header">
                        <i class="ph-bold ph-wifi-high wifi"></i>
                        <i class="ph-bold ph-credit-card"></i>
                    </div>
                    <p class="numero">4242 4562 7710 3507</p>
                    <p class="nome-titular">Nome do titular</p>
                    <h2>Rodrigo Resende Viana</h2>
                    <div class="login-home_cartao-infos">
                        <div class="login-home_cartao-validade">
                            <p class="label-validade">Validade</p>
                            <p class="valor-validade">12/2030</p>
                        </div>
                        <div class="login-home_cartao-cvv">
                            <p class="label-cvv">CVV</p>
                            <p class="valor-cvv">230</p>
                        </div>
                        <i class="ph-bold ph-circuitry"></i>
                    </div>
                </div>
            </div>
            <h2>Transações</h2>
            <div class="login-home_botoes">
                <div class="login-home_botao">
                    <i class="ph-bold ph-arrow-line-down icone"></i>
                    <p>Depositar</p>                    
                </div>
                <div class="login-home_botao">
                    <i class="ph-bold ph-money-wavy icone"></i>
                    <p>Sacar</p>                    
                </div>
                <div class="login-home_botao">
                    <i class="ph-bold ph-arrows-left-right icone"></i>
                    <p>Transferir</p>                    
                </div>
                <div class="login-home_botao">
                    <i class="ph-bold ph-circles-four icone"></i>
                    <p>Área Pix</p>
                </div>
                <div class="login-home_botao">
                    <i class="ph-bold ph-barcode icone"></i>
                    <p>Pagar</p>
                </div>
            </div>
        </div>
        <div class="login-home_extrato">
            <button>Extrato Completo</button>
        </div>
    </div>
</div>

