<div class="transferencia_container">
    <header class="transferencia_header">
        <h1>Transferência</h1>
        <p>NULLbank: sua transferência sem burocracia. Preencha os campos necessários e conclua o envio.
        </p>
    </header>
    <section class="transferencia_content">
       <app-saldo></app-saldo>
       <div class="transferencia_forms">
        <button class="botao_realizar_transferencia" (click)="realizarTransferencia()">
            Realizar Transferência
        </button>
       </div>
    </section>