<div class="extrato_container">
    <h1>Extrato</h1>
    <div class="extrato_content">
        <div class="extrato_valores">
            <div class="extrato_box saldo">
                <h2>Saldo Atual</h2>
                <p>R$ 649,00</p>
            </div>
            <div class="extrato_box entradas">
                <h2>Entradas do mês</h2>
                <p>R$ 987,00</p>
            </div>
            <div class="extrato_box saidas">
                <h2>Saidas do mês</h2>
                <p>R$ 453,00</p>
            </div>
        </div>
        <div class="tabela">
            <div class="tabela-cabecalho">
                <h2>Histórico de movimentações</h2>
                <i class="ph-bold ph-funnel"></i>
            </div>
            <input type="text">
                <ul class="tabela_categorias">
                    <li>Todas</li>
                    <li>Entradas</li>
                    <li>Saidas</li>
                </ul>
            <div class="chaves_overflow">
                <div class="info-chave">
                    <div class="icone">
                        <i class="ph-bold ph-key"></i>
                    </div>
                    <div class="chave-pix_tipo-valor">
                        <p class="tipo-chave">Mercado</p>
                        <p class="valor-chave">24/12/24 10:45</p>
                    </div>
                    <button class="btn-icon">
                        <p>- R$ 0,00</p>
                    </button>
                </div>
                <div class="info-chave">
                    <div class="icone">
                        <i class="ph-bold ph-key"></i>
                    </div>
                    <div class="chave-pix_tipo-valor">
                        <p class="tipo-chave">Mercado</p>
                        <p class="valor-chave">24/12/24 10:45</p>
                    </div>
                    <button class="btn-icon">
                        <p>- R$ 0,00</p>
                    </button>
                </div>
                <div class="info-chave">
                    <div class="icone">
                        <i class="ph-bold ph-key"></i>
                    </div>
                    <div class="chave-pix_tipo-valor">
                        <p class="tipo-chave">Mercado</p>
                        <p class="valor-chave">24/12/24 10:45</p>
                    </div>
                    <button class="btn-icon">
                        <p>- R$ 0,00</p>
                    </button>
                </div>
                <div class="info-chave">
                    <div class="icone">
                        <i class="ph-bold ph-key"></i>
                    </div>
                    <div class="chave-pix_tipo-valor">
                        <p class="tipo-chave">Mercado</p>
                        <p class="valor-chave">24/12/24 10:45</p>
                    </div>
                    <button class="btn-icon">
                        <p>- R$ 0,00</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>