<div class="extrato_container">
    <h1>Extrato</h1>
    <div class="extrato_content">
        <div class="extrato_valores">
            <div class="extrato_box saldo">
                <h2>Saldo Atual</h2>
                <p>R$ {{saldoAtual | number:'1.2-2'}}</p>
            </div>
            <div class="extrato_box entradas">
                <h2>Entradas do mês</h2>
                <p>R$ {{ entradasMes | number:'1.2-2'}}</p>
            </div>
            <div class="extrato_box saidas">
                <h2>Saídas do mês</h2>
                <p>R$ {{ saidasMes | number:'1.2-2'}}</p>
            </div>
        </div>
        <div class="tabela">
            <div class="tabela-cabecalho">
                <h2>Histórico de movimentações</h2>
                <i class="ph-bold ph-funnel" (click)="mostrarFiltro()"></i>
                <div class="extrato_filtro-data" *ngIf="mostraFiltro">
                    <i class="ph ph-x" (click)="mostrarFiltro()"></i>
                    <div>
                        <div class="input-filtro">
                            <label for="">Data início:</label>
                            <input class="input-data" type="date" [(ngModel)]="dataInicio">
                        </div>
                        <div class="input-filtro">
                            <label for="">Data fim:</label>
                            <input class="input-data" type="date" [(ngModel)]="dataFim">
                        </div>
                    </div>
                </div>
            </div>
            <input #tipoMovimentacao class="tipo-movimentacao" name="tipo-movimentacao" type="text" (keyup)="0">
            <ul class="tabela_categorias">
                <li [ngClass]="todasAtivo ? 'categoria-ativa' : '' " (click)="movimentacoesTodas()">Todas</li>
                <li [ngClass]="entradasAtivo ? 'categoria-ativa' : '' " (click)="movimentacoesEntrada()">Entradas</li>
                <li [ngClass]="saidasAtivo ? 'categoria-ativa' : '' " (click)="movimentacoesSaida()">Saídas</li>
            </ul>
            <div class="chaves_overflow">
                <div class="info-chave" *ngFor="let mov of (movimentacoesSelecionadas | extrato:dataInicio:dataFim | tipoMov:tipoMovimentacao.value)">
                    <div class="icone-descricao">
                        <div class="icone">
                            <i class="ph-bold ph-key"></i>
                        </div>
                        <div class="chave-pix_tipo-valor">
                            <p class="tipo-chave">{{ mov.tipoMovimentacao }}</p>
                            <p class="valor-chave">{{mov.dataMovimentacao | date: 'dd/MM/yy HH:mm'}}</p>
                        </div>
                    </div>
                    <p class="valor_mov">{{ mov.direcao === 'DEBITO' ? '+' : '-' }} R$ {{mov.valor | number: '1.2-2'}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>