<div class="extrato_container">
    <h1>Extrato</h1>
    <div class="extrato_content">
        <div class="extrato_valores">
            <div class="extrato_box saldo">
                <h2>Saldo Atual</h2>
                <p>R$ {{saldoAtual | number:'1.2-2'}}</p>
            </div>
            <div class="extrato_box entradas">
                <h2>Entradas do mês</h2>
                <p>R$ {{ entradasMes | number:'1.2-2'}}</p>
            </div>
            <div class="extrato_box saidas">
                <h2>Saidas do mês</h2>
                <p>R$ {{ saidasMes | number:'1.2-2'}}</p>
            </div>
        </div>
        <div class="tabela">
            <div class="tabela-cabecalho">
                <h2>Histórico de movimentações</h2>
                <i class="ph-bold ph-funnel"></i>
            </div>
            <input type="text">
                <ul class="tabela_categorias">
                    <li>Todas</li>
                    <li>Entradas</li>
                    <li>Saidas</li>
                </ul>
            <div class="chaves_overflow">
                <div class="info-chave" *ngFor="let mov of movimentacoes">
                    <div class="icone">
                        <i class="ph-bold ph-key"></i>
                    </div>
                    <div class="chave-pix_tipo-valor">
                        <p class="tipo-chave">{{ mov.tipoMovimentacao }}</p>
                        <p class="valor-chave">{{mov.dataMovimentacao | date: 'dd/MM/yy HH:mm'}}</p>
                    </div>
                    <P class="valor_mov">
                        <p>{{ mov.direcao === 'DEBITO' ? '+' : '-' }} R$ {{mov.valor | number: '1.2-2'}}</p>
                    <p>
                </div>
            </div>
        </div>
    </div>
</div>