@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< Updated upstream
:root {
  --primary-color: #69f5c8;
  --primary-hover: #43CDA1;
  /* Verde */
  --secondary-color: #6DDEE5;
  --secundary-hover: #0288b1;
  /* Azul */
  --black: #151515;
  /* Black */
  --gray: #D9D9D9;
  /* Gray */
  --red: #F87171;
  /* Red */
  --yellow: #F7DD43;
  /* Yellow */
  --fintech_black: #151515;
  --fintech_gray: #9E9E9E;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
=======
>>>>>>> Stashed changes
