<div class="admin-gestao_container">
    <h1>Gerenciar Contas</h1>

    <div class="admin-gestao_busca-contas">
        <p>Opções de pesquisa</p>
        <div class="admin-gestao_pesquisa">
            <select #lista class="admin-gestao_select" (change)="pegarVariavelBusca(lista.value)">
                <option value=""></option>
                <option value="nome">Nome do cliente</option>
                <option value="cpf">CPF</option>
                <option value="numeroConta">Numero da conta</option>
            </select>
            <input type="text" placeholder="Pesquisar">
            <i class="ph ph-magnifying-glass pesquisar"></i>
        </div>
    </div>
    <div class="admin-gestao_tabela" >
        <table>
            <thead>
                <tr>
                    <th>Agencia</th>
                    <th>Conta</th>
                    <th>Nome Cliente</th>
                    <th>Ultima Movimentacao</th>
                    <th>Ultimo acesso</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of listaClientes | slice:inicio:fim">
                    <td>{{c.agencia}}</td>
                    <td>{{c.numeroConta}}</td>
                    <td>{{c.nome}}</td>
                    <td>{{c.ultimaMovimentacao | date:'dd/MM/yyyy HH:mm'}}</td>
                    <td>{{c.ultimoAcesso | date:'dd/MM/yyyy HH:mm'}}</td>
                    <td>
                        <p [ngClass]=" c.ativo ? 'admin-gestao_ativo' : 'admin-gestao_inativo'">
                            {{ c.ativo ? 'Ativo' : 'Inativo' }}
                        </p>
                    </td>
                    <td><i  routerLink="/admin/editarConta/{{c.id}}" class="ph ph-pencil-simple-line lapis"></i>  <i class="ph ph-trash-simple lixo"></i></td>
                </tr>
            </tbody>
        </table>
        <div class="admin-gestao_paginacao">
            <p>{{paginaAtual}} de {{numeroPaginas}}</p>
            <div>
                <i (click)="voltarPagina()" class="ph ph-caret-left seta"></i>
                <i (click)="avancarPagina()" class="ph ph-caret-right seta"></i>
            </div>
        </div>
</div>