<div class="page">

    <div class="cabecalho">
        <h1>Minhas chaves pix</h1>
        <p class="descricao">Gerencie suas chaves para receber transferências pelo pix</p>
        <button class="btn-secundary">
            <i class="ph-bold ph-plus"></i>
            <p>Registrar chaves pix</p>
        </button>
    </div>
    <div class="tabela">
        <div class="tabela-cabecalho">
            <h2>Chaves cadastradas</h2>
            <p class="quantidade-chaves">{{chaves.length}} de 5 chaves</p>
        </div>
        <div class="chaves_overflow">
            <div class="info-chave" *ngFor="let c of chaves">
                <div class="icone">
                    <i class="ph-bold ph-key"></i>
                </div>
                <div class="chave-pix_tipo-valor">
                    <p class="tipo-chave">{{c.tipoChavePix}}</p>
                    <p class="valor-chave">{{c.chave}}</p>
                </div>
                <button class="btn-icon">
                    <i class="ph-bold ph-trash-simple"></i>
                </button>
            </div>
        </div>
    </div>
</div>